{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search</title>
    <link rel="stylesheet" href="{% static 'admin/assets/css/bootstrap.min.css' %}" />
    <style>
      body{
          margin: 10px;
      
      }
    </style>
  </head>
  <body>
    <form method="post">
        {% csrf_token %}
      Seach Person : <input name="search" type="text" />
      <button type="submit">Search</button>
    </form>
    {% if users %} 
    <table  class="display table table-striped table-hover">
    <tr>
        <th>Photo</th>
        <th>Full Name</th>
        <th>Address</th>
        <th>District</th>
        <th>City</th>
        <th>Contact no</th>
        <th>Aadhar no</th>
        <th>Panchayath</th>
        <th>Village</th>
        <th>Thaluk</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>
            <img  style="width: 150px;height: 150px;"  src="{{user.photo.url}}"  />
            <!-- For showing images-->>
          </td>
          <td>{{user.full_name}}</td>
          <td>{{user.address}}</td>
          <td>{{user.district}}</td>
          <td>{{user.city}}</td>
          <td>{{user.contact_no}}</td>
          <td>{{user.aadhar_no}}</td>
          <td>{{user.panchayath}}</td>
          <td>{{user.village}}</td>
          <td>{{user.thaluk}}</td>
    </tr>
    {% endfor %} {% endif %}
  </body>
</html>
