{%  extends "admin/admin2.html" %}
{% block content %}
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Camp Alert</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        id="basic-datatables"
                        class="display table table-striped table-hover"
                      >

                      <thead>
                        <tr>
                          <th>Camp Name</th>
                          <th>Message</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                            {% for alert in alerts %}
                            <tr>
                              <td>{{alert.login_id.camp_name}}</td>
                              <td>{{alert.emergency_message}}</td>
                              <td>{{alert.current_date}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              </div>              
            </div>
{% endblock %}
