{% load static %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <link
          rel="stylesheet"
          href="{% static 'admin/assets/css/bootstrap.min.css' %}"
        />
        <a href="{% url 'VolunteerReqTable' %}">Back</a>
        <h4 class="card-title">Volunteer Allocate Table</h4>
        <h4 class="card-title">
          Volunteers Needed {{volreq.no_of_volunteers}}
        </h4>
        <h4 class="card-title">
          Volunteers Allocated {{volreq.totalallocated}}
        </h4>
      </div>
      {% if messages %} {% for message in messages %}
      <p>{{message}}</p>

      {% endfor %} {% endif %}
      <div class="card-body">
        <div class="table-responsive">
          <table
            id="basic-datatables"
            class="display table table-striped table-hover"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Aadhar No</th>
                <th>Contact</th>
                <th>Email</th>
              </tr>
            </thead>
            <tbody>
              {% for user in volunteers %}
              <tr>
                <td>{{user.id}}</td>
                <td>{{user.volunteer_name}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.date_of_birth}}</td>
                <td>{{user.aadhar_no}}</td>
                <td>{{user.contact}}</td>
                <td>{{user.login_id.email}}</td>
                {% if volreq.no_of_volunteers == volreq.totalallocated %}
                <td>Maximum allocation reached</td>
                {% else %} {% if user.allocation == "true" %}
                <td>Allocated</td>
                {% else %}
                <td>
                  <button class="btn btn-primary">
                    <a
                      href="{% url 'VolAllocateNow' campid.id user.id volreq.id %}"
                      style="color: white; text-decoration: none"
                      >Allocate Now</a
                    >
                  </button>
                </td>
                {% endif %} {% endif %} {% if user.allocation == "true" %}
                <td>
                  <button class="btn btn-primary">
                    <a
                      href="{% url 'VolDeAllocate' campid.id user.id volreq.id %}"
                      style="color: white; text-decoration: none"
                    >
                      Deallocate</a
                    >
                  </button>
                </td>
                {% endif %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
