{%  extends "admin/admin2.html" %}
{% block content %}
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="card-title">Volunteer requests</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table
                        id="basic-datatables"
                        class="display table table-striped table-hover"
                      >

                      <thead>
                        <tr>
                          <th>Camp name</th>
                          <th>Number of Volunteers needed</th>
                          <th>Volunteers details</th>
                          <th>Date</th>
                          <th colspan="2" style="text-align: center;">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                            {% for request in requests %}
                            <tr>
                              <td>{{request.login_id.camp_name}}</td>
                              <td>{{request.no_of_volunteers}}</td>
                              <td>{{request.volunteer_details}}</td>
                              <td>{{request.current_date}}</td>
                              {% if request.no_of_volunteers == request.totalallocated %}
                              <td>Volunteers Allocated</td>
                              <td><button class="btn btn-primary"><a href="{% url 'VolunteerAllocateTable' request.login_id.id request.id %}" style="color: white;text-decoration: none;">Reallocate</a></button></td>
                              </tr>
                              {% else %}
                              <td><button class="btn btn-primary"><a href="{% url 'VolunteerAllocateTable' request.login_id.id request.id %}" style="color: white;text-decoration: none;">Allocate</a></button></td>
                              {% endif %}
                            {% endfor %}
                        </tbody>
                      </table>
                      {% comment %} {% if messages %}
                       {% for message in messages %}
                        <script>alert('{{message}}')</script>
                       {% endfor %}
                      {% endif %} {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>
              </div>              
            </div>
{% endblock %}
