{% extends "admin/admin2.html" %} {% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Volunteer Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table
            id="basic-datatables"
            class="display table table-striped table-hover"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Aadhar No</th>
                <th>Contact</th>
                <th>Email</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Aadhar No</th>
                <th>Contact</th>
                <th>Email</th>
              </tr>
            </tfoot>
            <tbody>
              {% for user in volunteers %}
              <tr>
                <td>{{user.id}}</td>
                <td>{{user.volunteer_name}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.date_of_birth}}</td>
                <td>{{user.aadhar_no}}</td>
                <td>{{user.contact}}</td>
                <td>{{user.login_id.email}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
