{% load django_browser_reload %}
{% django_browser_reload_script %}
{% load static %}

<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "output.css" %}" rel="stylesheet">
</head>
<body>
  <h1 class="text-3xl font-bold text-center text-blue-500">
    Hello world!
    its Kp hello bhai
  </h1>
  <p class="text-5xl text-center text-gray-500">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus voluptates maxime aliquam, laborum quod esse reiciendis, tempore consectetur dicta quaerat sequi. Nobis magni accusamus nihil modi dolor eius voluptate unde.
  </p>


</body>
</html>